<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
{% load static %}
<html lang='ru'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="{% static 'style/main.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class='container'>
            {% for info in main_data %}
            <div class="horoscope-card">
                <div class="picture">{{ info.svg|safe }}</div>
                <h2 class="horoscope-name">{{ info.zodiac_ru|title }}</h2>
                <p class="horoscope-date">{{ info.start_day }} - {{ info.end_day }}</p>
                <a href="/{{ info.zodiac_en }}" class="btn horoscope-button">Смотреть гороскоп</a>
            </div>
            {% endfor %}
        </div>
        <script src="{% static 'js/script.js' %}" async defer></script>
    </body>
</html>