<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <![endif]-->
{% load static %}
{% load weather_filters %}
<html lang='ru'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link type="text/css" rel="stylesheet" href="{% static 'style/main.css' %}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class='header'>
            <h1>Космический гороскоп</h1>
            <div class='weather-widget'>
                <div class='weather-container-1'>
                    <div class='weather-icon'><img src="{% static 'img/weather/'|add:weather_data.icon|add:'.png' %}"></img></img></div>
                    <div class='weather-container-2'>
                        <div class='weather-main'>{{ weather_data.description }}</div>
                        <div class='weather-pressure'>{{ weather_data.pressure|convert_to_mm_of_mercury }}</div>
                        <div class='weather-humidity'>{{ weather_data.humidity|to_humidity }}</div>
                    </div>
                </div>
                <div class='weather-container-3'>
                    <div class='weather-temperature'>{{ weather_data.temperature|convert_to_degrees_of_temperature }}</div>
                    <div class='weather-container-4'>
                        <div class='weather-wind-speed'>{{ weather_data.wind_speed|to_wind_speed }}</div>
                        <div class='weather-wind-degrees'>{{ weather_data.wind_degrees|to_wind_description }}</div>
                        <div class='weather-feels-like'>Ощущается как: {{ weather_data.feels_like|convert_to_degrees_of_temperature }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class='container'>
            {% for info in main_data %}
            <div class="horoscope-card">
                <!--<div class="picture">{{ info.svg|safe }}</div> -->
                <div class="picture"><img src="{% static 'img/horoscope/'|add:info.zodiac_en|add:'.svg' %}" height="150" width="150"></img></div>
                <h2 class="horoscope-name">{{ info.zodiac_ru|title }}</h2>
                <p class="horoscope-date">{{ info.start_day }} - {{ info.end_day }}</p>
                <a href="/{{ info.zodiac_en }}" class="btn horoscope-button">Смотреть гороскоп</a>
            </div>
            {% endfor %}
        </div>
        <script src="{% static 'js/script.js' %}" async defer></script>
    </body>
</html>